* { font-family: JetBrains Mono; font-size: 13px; }
window#waybar { background: rgba(43, 48, 59, 0.9); border-bottom: 3px solid rgba(100, 114, 125, 0.5); }
#workspaces button { padding: 0 10px; }
#workspaces button.active { background: #64727D; }
#clock { color: #ffffff; padding: 0 15px; }

